.legend-item {
    margin: 8px 0; /* Add vertical spacing */
    display: flex;
    align-items: center;
    font-size: 14px; /* Increase font size */
}

.legend-color {
    display: inline-block;
    width: 50px; /* Slightly larger color box */
    height: 40px; /* Slightly larger color box */
    margin-right: 20px; /* Space between color box and text */
    border-radius: 3px; /* Rounded corners for color box */
}

